.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.modal-title {
  color: #000;
}

.athlete-grade {
  display: flex;
  flex: 1;
}

.final-grade {
  background-color: #F6BE70;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  align-self: center;
}

.div-table-grade {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.final-grade>div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.8rem;
}

.final-grade-number {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fff;
}

.name-athlete {
  color: #000;
  font-weight: bold;
}

.table-grade-header {
  color:#F6BE70;
}

.table-grade {
  font-weight: bold;
  color: #000;
  font-size: 1.2rem;
}

.judge {
  text-align: left;
}

.div-table-grade>table>tr {
  text-align: center;
}

.row {
  color: gray;
  opacity: 0.3;
}
