.login-container {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.login-container form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.login-container form .authentication-error {
  color: #eb4d4b;
  margin-top: 10px;
  margin-left: 2vh;
}

.login-container form .login-bottom-container {
  margin-top: 70px;
  height: 48px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.login-container form .login-bottom-container a {
  color: #666;
  text-decoration: none;
  margin-left: 2vh;
  color: #b53471;
}

.login-container form button {
  border: 0;
  height: 48px;
  width: 200px;
  border-radius: 50vh;
  font-size: 16px;
  background: #b53471;
  color: #fff;
  cursor: pointer;
}
