.ant-tabs-ink-bar {
  background-color: #f7be71 !important;
}

.ant-tabs-nav .ant-tabs-tab-active {
  color: #f7be71 !important;
}

.countdown {
  display: flex;
  align-items: center;
}

.countdown__icon {
  margin-right: 3px;
}

.stands-page__title {
  margin-left: 25px;
  font-weight: 300;
}

.stands-page__tab {
  margin-left: -20px !important;
  margin-right: -20px !important;
}

.stands-page__tab-content {
  margin-left: 8px;
  margin-right: 8px;
}

.stands-panel .ant-list {
  margin-top: 18px;
}

.stands-panel .ant-list-item {
  padding: 10px 8px 10px 10px !important;
}

.stands-panel .ant-list-item > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stands-panel .ant-list-item > div > div {
  display: flex;
  justify-content: space-between;
}

.stands-panel .ant-list-item > div > span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.stands-panel .ant-list-item > div button {
  margin-left: 10px;
}

.stands-panel .ant-list-item > div button > div {
  display: flex;
  align-items: center;
}

.stands-panel .ant-list-item > div button .anticon {
  margin-right: 5px;
}

.stands-panel .ant-list-item > div button > div > span {
  font-weight: 500;
}
